# Java
java/target/
java/.idea/
java/*.iml
java/.classpath
java/.project
java/.settings/

# Python
python/dist/
python/build/
python/*.egg-info/
python/src/*.egg-info/
__pycache__/
*.pyc
.pytest_cache/

# .NET
dotnet/**/bin/
dotnet/**/obj/
dotnet/.vs/
dotnet/*.user
dotnet/**/*.nupkg

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
